{% extends "template.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="card col-sm-4">
        <form method="post">
            <div class="form-group">
                <br>
                <label for="exampleInputEmail1">Drink name:</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Enter drink" name="drink-name" required>
            </div>
            <input type="submit" id="submit-btn" value="Submit" class="btn btn-primary" required>
            <br>
            <br>
        </form>
    </div>
</div>
{% endblock %}