{% extends "template.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="card col-sm-4">
        <form method="post">
            <div class="form-group">
                <label for="first-name">First name:</label>
                <input type="text" class="form-control" id="first-name" aria-describedby="firstNameHelp"
                       placeholder="Enter first name" name="first-name" required>
                <label for="last-name">Last name:</label>
                <input type="text" class="form-control" id="last-name" aria-describedby="lastNameHelp"
                       placeholder="Enter last name" name="last-name" required>
                <label for="favourite-drink">Favourite drink</label>
                <select class="form-control" id="favourite-drink" name="favourite-drink" required>
                    <option selected>Choose...</option>
                    {% for drink in favourite_drinks %}
                        <option value='{{drink[0]}}'>{{drink[1].capitalize()}}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" id="submit-btn" value="Submit" class="btn btn-primary">
        </form>
    </div>
</div>
{% endblock %}