{% extends "template.html" %}

{% block content %}
<div class="card-deck justify-content-center">
    <div class="col-xl-2">
        <div class="card">
            <div class="card-body">
                <a href="/people">
                    <img src="../static/person1.svg" alt="people icon" width="128px" height="128px"/>
                </a>
                <br>
                <br>
                <h5 class="card-title">People</h5>
            </div>
        </div>
    </div>
    <div class="col-xl-2">
        <div class="card">
            <div class="card-body">
                <a href="/drinks">
                    <img src="../static/drink1.svg" alt="drink icon" width="128px" height="128px"/>
                </a>
                <br>
                <br>
                <h5 class="card-title">Drinks</h5>
            </div>
        </div>
    </div>
    <div class="col-xl-2">
        <div class="card">
            <div class="card-body">
                <a href="/rounds">
                    <img src="../static/rounds.svg" alt="round icon" width="128px" height="128px"/>
                </a>
                <br>
                <br>
                <h5 class="card-title">Rounds</h5>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
<div class="container text-center">
    <small>Copyright; </small>
</div>
{% endblock %}
