{% extends "template.html" %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-sm-2">
        <div class="row justify-content-md-center">
            <a href="/people">
                <img src="../static/person1.svg" alt="people icon" style="width:128px; height:128px"/>
            </a>
        </div>
        <br>
        <div class="row justify-content-md-center">
            <h3>People</h3>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="row justify-content-md-center">
            <a href="/drinks">
                <img src="../static/drink1.svg" alt="drink icon" style="width:128px; height:128px"/>
            </a>
        </div>
        <br>
        <div class="row justify-content-md-center">
            <h3>Drinks</h3>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="row justify-content-md-center">
            <a href="/rounds">
                <img src="../static/rounds.svg" alt="drink icon" style="width:128px; height:128px"/>
            </a>
        </div>
        <br>
        <div class="row justify-content-md-center">
            <h3>Rounds</h3>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
<div class="container text-center">
    <small>Copyright; Your Website</small>
</div>
{% endblock %}
