{% extends "template.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-xl-2">
            <a href="/people/add">
                <button type="button" class="btn btn-lg btn-dark">
                    Add person
                </button>
            </a>
        </div>
        <div class="col col-xl-2">
            <a href="/people/delete">
                <button type="button" class="btn btn-lg btn-danger">
                    Delete person
                </button>
            </a>
        </div>
    </div>
</div>

<br>

<div class="card-deck">
    {% for person_name in people_names %}
    <div class="col-xl-2">
        <div class="card">
            <a href="#">
                <img src="../static/person1.svg" class="card-img-top rounded mx-auto d-block" alt="User Image"
                     style="width:128px; height:128px">
                <div class="card-body">
                    <h5 class="card-title">{{person_name[0].title() + " " + person_name[1].title()}}</h5>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}