{% extends "template.html" %}

{% block content %}
<div class="container">
    <input class="btn btn-success btn-lg" type="button" value="Add Person">
</div>
<br>
<div class="card-deck">
    <div class="card">
        <a href="#">
            <img src="../static/person1.svg" class="card-img-top rounded mx-auto d-block" alt="User Image"
                 style="width:128px; height:128px">
            <div class="card-body">
                <h5 class="card-title">Person 1</h5>
                <p class="card-text">Team 1</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a href="#">
            <img src="../static/person1.svg" class="card-img-top rounded mx-auto d-block" alt="User Image"
                 style="width:128px; height:128px">
            <div class="card-body">
                <h5 class="card-title">Person 2</h5>
                <p class="card-text">Team 2</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a href="#">
            <img src="../static/person1.svg" class="card-img-top rounded mx-auto d-block" alt="User Image"
                 style="width:128px; height:128px">
            <div class="card-body">
                <h5 class="card-title">Person 3</h5>
                <p class="card-text">Team 3</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a href="#">
            <img src="../static/person1.svg" class="card-img-top rounded mx-auto d-block" alt="User Image"
                 style="width:128px; height:128px">
            <div class="card-body">
                <h5 class="card-title">Person 4</h5>
                <p class="card-text">Team 4</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a href="#">
            <img src="../static/person1.svg" class="card-img-top rounded mx-auto d-block" alt="User Image"
                 style="width:128px; height:128px">
            <div class="card-body">
                <h5 class="card-title">Person 5</h5>
                <p class="card-text">Team 5</p>
            </div>
        </a>
    </div>
</div>
<br>
<br>
<br>
{% endblock %}