{% extends "template.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col col-sm-2">
            <a href="/rounds/add">
                <button type="button" class="btn btn-lg btn-dark">
                    Create round
                </button>
            </a>
        </div>
        <div class="col col-sm-2">
            <a href="/rounds/view">
                <button type="button" class="btn btn-lg btn-dark">
                    View round
                </button>
            </a>
        </div>
        <div class="col col-sm-2">
            <a href="/rounds/add/order">
                <button type="button" class="btn btn-lg btn-dark">
                    Add order
                </button>
            </a>
        </div>
    </div>
</div>

<br>
<br>

<div class="card-deck">
    {% for round in rounds %}
    <div class="col-xl-2">
        <div class="card">
            <div class="card-body">
                <a href="#">
                    <img src="../static/rounds.svg" alt="User Image" width="128px" height="128px">
                </a>
                <br>
                <br>
                <h5>Initiator:</h5>
                <h5 class="card-title">{{round[0].capitalize()}} {{round[1].capitalize()}}</h5>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}